# python
*.pyc
*.swp
*.swo

# Distribution / packaging 
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/ 

# Rope
.ropeproject

# ttproto related
log/
tmp/
reports/
