# python
*.pyc
*.swp
*.swo

# Distribution / packaging 
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/ 
*.tar.gz

# Rope
.ropeproject

# ttproto related
drafts/
log/
tmp/
reports/

# Sphinx documentation generation
doc
sphinx-doc-src
!sphinx-doc-src/conf.py
